/Pertemuan 2/soal2/nbproject/private/
/Pertemuan 2/soal2/build/
/Pertemuan2/nbproject/private/
/Pertemuan3/nbproject/private/
/Pertemuan3/build/
/W4/nbproject/private/
/W4/build/
/W5/nbproject/private/
/W5/build/
/W6/nbproject/private/
/W6/build/
/W7/nbproject/private/
/W7/build/
/SPL/nbproject/private/
/W9/nbproject/private/
/W9/build/
/W10/nbproject/private/
/W10/build/